In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error

'''
dalam cell ini, kalian akan melakukan import dari library yang sudah kalian install.
kita akan menggunakan pandas sebagai pembaca data,
train_test_split untuk membagi data latihan dan data uji coba dari file train.csv,
LinearRegression adalah nama model ML yang kita akan guankan disini
mean_squared_error dan mean_absolute_error adalah metrik yang akan kita gunakan
untuk mengukur performa model kita, simpelnya selisih hasil prediksi dengan rata rata nilai aslinya.
'''

In [ ]:
df = pd.read_csv('train.csv')
print(df.head())

'''
kita menggunakan pandas(pd) di sini untuk membaca file train.csv 
lalu memanggil train.csv untuk dilihat sekilas.
df.head() akan memunculkan 5 baris data teratas dari file train.csv
df.tail() akan memunculkan 5 baris data terbawah dari file train.csv
df.head(10)...? coba sendiri aja, hehe.
'''

   kualitas_level  brand_level  harga
0               1            4   2477
1               2            4   2666
2               8            4   3800
3               2            2   2022
4               8            3   3478

In [ ]:
model = LinearRegression()
X = df.drop('harga', axis=1)
y = df['harga']

'''
disini kita definisikan model = LinearRegression(), biar simpel aja sebenernya, jadi lebih pendek.
lalu kita definisikan X sebagai fitur yang digunakan untuk memprediksi,
dan y adalah hasil yang akan kita prediksi/target prediksi
'''

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 4211)
model.fit(X_train, y_train)
MAE_train = (mean_absolute_error(y_train, model.predict(X_train)))
RMSE_train = (mean_squared_error(y_train, model.predict(X_train)))
X_train.index

'''
pertama kita bagi datanya, yaitu ada X_train, X_test, y_train, y_test.
:param test_size=0.2 artinya 20% data akan digunakan sebagai data uji coba, dan sisanya untuk latihan:
:param random_state=4211 adalah id unik. isinya bebas, tapi akan selalu sama tiap kali dijalankan:
lalu kita fit modelnya menggunakan data latihan, X latihan dan y latihan
lalu kita hitung MAE dan RMSE pada latihan(satu saja cukup)
index digunakan untuk melacak data mana yang digunakan pada saat latihan(opsional)
'''

Index([3810,  389, 2841, 1892, 4532, 2076, 3126,  352, 3423, 3491,
       ...
       2597,  793, 4477, 1512, 3412,  753, 3310, 1104, 1340,  223],
      dtype='int64', length=4000)

In [ ]:
MAE_train
#cek mean_absolute_error. liat, jauh dibawah 1 selisihnya, model bekerja dengan baik.

1.336502464255318e-12

In [ ]:
RMSE_train
#cek mean_squared_error. liat, jauh dibawah 1 selisihnya, model bekerja dengan baik.

2.4767596997427608e-24

In [ ]:
pred = model.predict(X_train)
pred
#cek nilai prediksi

array([2967., 2400., 3023., ..., 3023., 1889., 2211.], shape=(4000,))

In [ ]:
y.iloc[3810]
#cek nilai asli dengan index 3810 (index didapat diatas, cek kembali kalau bingung/lupa)

np.int64(2967)

In [ ]:
df_test = pd.read_csv('test_true.csv')
Xt = df_test
model.predict(Xt)
"""
proses prediksi pada data test tidak jauh berbeda, hanya perlu membaca file, lalu langsung predict data tersebut
"""

array([2645., 2400., 3478., ..., 2855., 3044., 2477.], shape=(5000,))

In [ ]:
pd.read_csv('test.csv')
#bisa langsung kita bandingkan dengan data yang ada nilainya, prediksi sama persis, good.

      kualitas_level  brand_level  harga
0                  7            1   2645
1                  4            2   2400
2                  8            3   3478
3                  5            2   2589
4                  7            3   3289
...              ...          ...    ...
4995               7            3   3289
4996               1            1   1511
4997               3            4   2855
4998               4            4   3044
4999               1            4   2477

[5000 rows x 3 columns]